:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  line-height: 1.5;
  min-height: 200px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  background-color: #2a2a2a;
  background-image: url(https://cdn.pixabay.com/photo/2020/07/06/01/33/forest-5375005_1280.jpg);
  background-repeat: no-repeat;
  color: #fff;
  text-align: center;
  background-position: center;
  background-size: cover;
  height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  color: #94e9b9;
  text-align: center;
}

h1 {
  font-size: 48px;
  margin-bottom: 16px;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}
